<div class="datepicker-input-container">
<label>As On:</label><br>
 <input type="text" id="datepicker" style="text-align:center;width: 90px;">
<i class="fa fa-calendar" class="datepicker-icon"></i>
</div>

  <%= javascript_include_tag 'sorting', 'data-turbolinks-track' => true %>

<!-- <input type="checkbox"  id="show_project_details">Project Details
<input type="checkbox"  id="show_financial_details">Financial Details -->
<div class="select-container"><label>Delivery Health</label><br><%= select_tag("delivery_health", options_for_select([["All","all"],["Red","red"],["Orange","orange"],["Yellow","yellow"],["Green","green"]]),class:"filters") %></div>
<div class="select-container"><label>Contribution</label><br><%= select_tag("contribution",options_for_select([["All","all"],["Positive","positive"],["Negative","negative"]]),class:"filters") %></div>
<div class="select-container"><label>Gross Profit</label><br><%= select_tag("gross_profit", options_for_select([["All","all"],["Positive","positive"],["Negative","negative"]]),class:"filters") %></div>
<div class="select-container"><label>Project Status</label><br><%= select_tag("project_status", options_for_select(ProjectStatus.pluck('name','id').push(['All',-1]).reverse),class:"filters") %>
</div>

<div class="select-container"><label>Project Type Option</label><br><%= select_tag("project_type_option", options_for_select(ProjectTypeCode.pluck('name','id').push(['All',-1]).reverse),class:"filters") %></div>
<div class="select-container"><label>Manager</label><br><%= select_tag("manager_id", options_for_select(AdminUser.order('name desc').pluck("name",'id').push(["All",-1]).reverse),class:"filters") %></div>
  <span class="pull-left mr20 checkbox-group mt22">
    <input type="checkbox" value="1" class="filter_opt" id="show_project_details" name="" />
    <label for="show_project_details">Project Details</label>
  </span>
  <span class="pull-left checkbox-group mt22">
    <input type="checkbox" value="1" class="filter_opt" id="show_financial_details" name="" />
    <label for="show_financial_details">Financial Details</label>
  </span>
    
</p>
<div id="initial_table"></div>

<style type="text/css">
.pull-left {
  float:left;
}
.mr20 {
  margin-right: 20px;
}
.hasDatepicker 
{
    height: 20px;
    border: 3px solid #c2c2c2;
    border-radius: 5px;
}
.checkboxFour {
  width: 40px;
  height: 40px;
  background: #ddd;
  margin: 20px 30px;

  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxFour label {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100px;

  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: -9px;
  left: -8px;
  z-index: 1;

  background: '';
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxFour input[type=checkbox]:checked + label {
  background: #26ca28;
}

	.table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
  }
  table {
      background-color: transparent;
  }
  table {
      border-spacing: 0;
      border-collapse: collapse;
  }

  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #E2E2E2;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 10px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
  }
  .table .table-row-header {
    background:#636363;
  }
  td, th {
      padding: 0;
  }
  
  .table td{
      font-size: 14px;
  }
  .table th {
    font-size: 13px;
    font-weight: 700;
  }
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: xx-large;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★';
  /*color: black;*/
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-40:after { width: 40%; }
.stars-60:after { width: 60%; }
.stars-80:after { width: 80%; }
.stars-100:after { width: 100; }
 #title_bar{
    padding: 0px;
    padding-left: 10px;
  }
  .checkbox-group {

  }

  .checkbox-group label{
    float:left;
    color:#FFF;
    font-size: 14px;
  }
  .checkbox-group input[type=checkbox] {
    margin: 0;
    margin-top: 4px;
    margin-right: 5px;
    float: left;
  }

</style>	

<script type="text/javascript">
	$(document).ready(function() {
    
    $("#page_title").html("Delivery Health")
		$(".pagination_information,.pagination,.download_links,#index_table_resource_forecasts,.breadcrumb").hide()
		$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
		 var fullDate = new Date()
  var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
  var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
  		intial_content(currentDate)
  		$( "#datepicker" ).val(currentDate)
  		$( "#datepicker" ).on('change',function(){
  			intial_content($(this).val())
  		})
      $( ".filters" ).on('change',function(){
        intial_content($("#datepicker").val())
      })
  	
	})
	function intial_content(currentDate){
    delivery_health= $("#delivery_health").val()
    contribution = $("#contribution").val()
    gross_profit = $("#gross_profit").val()
    project_status = $("#project_status").val()
    manager_id = $("#manager_id").val()
    project_type_option = $("#project_type_option").val()
		responce  = ajax_call("api/overall_delivery_health?as_on="+currentDate+"&with_details=false&contribution="+contribution+"&delivery_manager_id="+manager_id+"&gross_profit="+gross_profit+"&project_status_id="+project_status+"&project_type_code_id="+project_type_option+"&delivery_health="+delivery_health)
    var html_value = ""
     $.each( responce, function( index, value ){
      value_temp = {"name":value["project_details"]["direct_details"]["name"],"delivery_health":value["delivery_health"],"client":value["project_details"]["lookup_details"]["client"]}
     	value1 = Object.assign(value_temp,value["project_details"]["direct_details"],{"project_type":value["project_details"]["lookup_details"]["project_type"]},{"project_status":value["project_details"]["lookup_details"]["project_status"]},{"business_unit":value["project_details"]["lookup_details"]["business_unit"]});
     	value1 = Object.assign(value1, value["missed_delivery"]);
     	value_temp = {"missed_invoicing_count":value["missed_invoicing"]["count"]}
     	value1 = Object.assign(value1, value_temp);
     	value_temp = {"missed_payments_count":value["missed_payments"]["count"]}
     	value1 = Object.assign(value1, value_temp);
     	value_temp = {"contribution_status": value["contribution"] > -1 ? "+ve" : "-ve"}
     	value1 = Object.assign(value1, value_temp);
     	value_temp = {"profit_status": value["gross_profit"] > -1 ? "+ve" : "-ve"}
     	value1 = Object.assign(value1, value_temp);
     	value1 = Object.assign(value1, value,value["project_details"]["lookup_details"]);
         if ((index  ==  0) || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }
      })
      $("#initial_table").html(html_value) 
      $("#initial_table").find('table').first().addClass("semi-transparent-table")
      $(".semi-transparent-table").find(".table-row-header").first().attr('style', 'background-color: #23457d !important; color: #FFF !important');
      $("#initial_table").find("th.missed_invoicing_count").html("MISSED INVOICING MILESTONE")
      $("#initial_table").find("th.missed_payments_count").html("MISSED PAYMENTS MILESTONE")
      $("#initial_table").find("th.count").html("MISSED DELIVERY MILESTONE")
      $.each($("#initial_table").find("td.delivery_health"),function(){
        $(this).css('text-align','center')
        var color = $(this).html().toLowerCase()
        switch ($(this).html().toLowerCase()) {
                    case "red":
                        $(this).html("<div><span class='stars-container stars-100'>★</span></div>");
                        break;
                    case "orange":
                        $(this).html("<div><span class='stars-container stars-100'>★</span></div>");
                        break;
                    case "yellow":
                         $(this).html("<div><span class='stars-container stars-100'>★</span></div>");
                        break;
                    case "green":
                        $(this).html("<div><span class='stars-container stars-100'>★</span></div>");
                        break;
                    default:
                        $(this).html("<div><span class='stars-container stars-100'>★</span></div>");
                        break;

                }
        $(".stars-container").last().css('color',color)

      })
      sorting_table($("#initial_table").find('table'))
      

      $("#initial_table").find(".project_details,.direct_details,.lookup_details,.missed_payments,.missed_invoicing,.missed_delivery,.created_at,.updated_at,.deleted_at,.client_id,.project_type_code_id,.project_status_id,.business_unit_id,.estimator_id,.delivery_manager_id,.pipeline_id,.sales_person_id,.engagement_manager_id,.sales_person,.estimator,.engagement_manager,.comments,.pipeline_details,.ip_address,.updated_by,.description,.id").hide()
      if ($('input#show_project_details').is(':checked')) {
      $("#initial_table").find(".start_date,.end_date,.project_status,.business_unit,.project_type").show()

  }
  else{
  	$("#initial_table").find(".start_date,.end_date,.project_status,.business_unit,.project_type").hide()
  }
   if ($('input#show_financial_details').is(':checked')) {
      $("#initial_table").find(".booking_value,.contribution,.gross_profit").show()
  }
  else{
  	$("#initial_table").find(".booking_value,.contribution,.gross_profit").hide()
  }

      $.each($("td.missed_invoicing_count,td.count,td.missed_payments_count,td.contribution,td.gross_profit"), function( index1, value1 ){
        $(this).addClass("text_link")
        $(this).attr('data-popup-open', 'popup-1');
      })
      $("#initial_table").find("th.project_type").html("Type")
      $("#initial_table").find("th.project_status").html("Status")
           $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        $(".dropdown_menu").toggle()
            $(".boxes").hide()
        e.preventDefault();
    });
 
    $('[data-popup-close]').on('click', function(e)  {
            $(".boxes").show()
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(10);
        $(".dropdown_menu").toggle()
        e.preventDefault();
    });

    $(".text_link").on('click',function(){
      project_id = $(this).parent().find('.id').html()
      as_on = $("#datepicker").val()
    if( (jQuery.inArray("count",$(this).attr('class').split(" ")))== 0){
      responce  = ajax_call("api/missed_delivery?project_id="+project_id+"&as_on="+as_on+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
    $.each( responce["data"], function( index, value ){
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value["delivery_milestone"]).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value["delivery_milestone"])
                }
    })
       }
    if( (jQuery.inArray("missed_invoicing_count",$(this).attr('class').split(" ")))== 0){
      responce  = ajax_call("api/missed_invoicing?project_id="+project_id+"&as_on="+as_on+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
    $.each( responce["data"], function( index, value ){
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value["invoicing_milestone"]).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value["invoicing_milestone"])
                }
    })
       }
    if( (jQuery.inArray("missed_payments_count",$(this).attr('class').split(" ")))== 0){
      responce  = ajax_call("api/missed_payments?project_id="+project_id+"&as_on="+as_on+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
    $.each( responce["data"], function( index, value ){
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value["invoice_line"]).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value["invoice_line"])
                }
    })
       }
    if( (jQuery.inArray("contribution",$(this).attr('class').split(" ")))== 0){
      responce  = ajax_call("api/contribution_details?project_id="+project_id+"&as_on="+as_on+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
    html_value += convert_ajax_to_htm(responce["total_revenue"])
    $.each( responce["total_revenue"]["data"], function( index, value ){
      value1 = Object.assign(value["invoice_header"], value["invoice_line"],value);
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }
    })
    html_value += convert_ajax_to_htm(responce["direct_resource_cost"])
   
     html_value += convert_ajax_to_htm(responce["direct_overhead_cost"])
     $.each( responce["direct_overhead_cost"]["data"], function( index, value ){
      value1 = Object.assign(value["project_overhead"],value);
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }
    })
       }
     if( (jQuery.inArray("gross_profit",$(this).attr('class').split(" ")))== 0){
      responce  = ajax_call("api/gross_profit_details?project_id="+project_id+"&as_on="+as_on+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
    html_value += convert_ajax_to_htm(responce["total_revenue"])
    $.each( responce["total_revenue"]["data"], function( index, value ){
      value1 = Object.assign(value["invoice_header"], value["invoice_line"]);
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }
    })
    html_value += convert_ajax_to_htm(responce["direct_resource_cost"])
    
      html_value += convert_ajax_to_htm(responce["direct_overhead_cost"])
     $.each( responce["direct_overhead_cost"]["data"], function( index, value ){
      value1 = Object.assign(value["project_overhead"],value);
       if (index  ==  0){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }
    })
      html_value += convert_ajax_to_htm(responce["indirect_resource_cost_share"])
      html_value += convert_ajax_to_htm(responce["indirect_overhead_cost_share"])

       }
       $(".hiddding_header").remove()
       $(".modal-header").append("<span class= 'hiddding_header'>"+(($(this).parent().parent().find("."+$(this).attr('class').split(" ")[0]).html()).toLowerCase()).replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();})+" By "+$(this).parent().find(".delivery_manager").html()+" In "+$(this).parent().find(".name").html()+" Project On "+$("#datepicker").val()+"</span>")
    $(".hiddding_header").last().show()
    $(".ajax_content").html(html_value)
    $(".ajax_content").find(".id,.data,.invoice_header,.invoice_line,.invoice_status_id,.client_id,.invoice_term_id,.invoice_header_id,.invoicing_milestone_id,.invoice_adder_type_id,.project_overhead,.created_at,.deleted_at,.updated_at,.project_id,.ip_address").hide()
    sorting_table($(".ajax_content").find('table'))
     if ($(".ajax_content").html().indexOf("<table") < 0){
      $(".ajax_content").html("<span style ='margin-left: 450px;'><b>No Records Found For Date: "+$("#datepicker").val()+"</b></span>")
    }
     })
    $("#show_project_details").on('click',function(){
      if ($('input#show_project_details').is(':checked')) {
      $("#initial_table").find(".start_date,.end_date,.project_status,.business_unit,.project_type").show()
  }
  else{
    $("#initial_table").find(".start_date,.end_date,.project_status,.business_unit,.project_type").hide()
  }
    })
    $("#show_financial_details").on('click',function(){
       if ($('input#show_financial_details').is(':checked')) {
      $("#initial_table").find(".booking_value,.contribution,.gross_profit").show()
  }
  else{
    $("#initial_table").find(".booking_value,.contribution,.gross_profit").hide()
  }
    })
      // $(".missed_invoicing_count,.count,.missed_payments_count").

	}
	function pop_up_view(currentDate){

     }

	 function return_only_t_data(responce){
             var ajax_content_value = "</tr><tr>"
             $.each(responce, function(key, value) {
              value = (value == null) ? "" : value
                  ajax_content_value +="<td class='"+key.replace(" ", "_")+"'style = 'border: 1px solid #ddd;' >"+value+"</td>" 
                  });
           ajax_content_value +="</tr>"
           return ajax_content_value
          }

          function convert_ajax_to_htm(responce){
   var ajax_content_value = "<table class = 'table table-striped'><tr class ='table-row-header'>"
           $.each(responce, function(key, value) {
                  ajax_content_value +="<th class='"+key.replace(" ", "_")+" sort_up 'style = 'border: 1px solid #ddd;'>"+key.replace(/_/g," ").toUpperCase()+"</th>" 
                  });
           ajax_content_value += "</tr><tr>"
             $.each(responce, function(key, value) {
              value = (value == null) ? "" : value
                  ajax_content_value +="<td class='"+key.replace(" ", "_")+"'style = 'border: 1px solid #ddd;' >"+value+"</td>" 
                  });
           ajax_content_value +="</tr></table>"
           return ajax_content_value
          }

	function ajax_call(url) {
	    var responce = ""
	 $.ajax({
	        async: false,
	        url: url,
	          dataType: 'json',
	        success: function (data) {
	           responce =  data;
	        }
	    })
	 return responce;
	}


 
</script>